.Countdown{
    margin: 0.5rem auto;
    padding: 30px 0px 30px;
    text-align: center;
    color:  #00B2EE;
  }
  
  .Countdown-col{
    display: inline-block;
    
  }
  
  .Countdown-col-element{
    display: inline-block;
    margin: 0 8px;
    display: flex;
    flex-direction: column;
    border: solid #70DBDB		 ;
    border-radius: 11px;
    border-width: 3px;
    padding:8%;
    background: black;
    
  }
  
  .Countdown-col-element strong{
    font-size: 3rem;
    
  }
  