.Countdown{
    margin: 0.5rem auto;
    padding: 35px 0px 35px;
    text-align: center;
    
    

    color:  #00B2EE;
  }
  
  .Countdown-col{
    display: inline-block;
  }
  
  .Countdown-col-element{
    display: inline-block;
    margin: 0 11px;
    display: flex;
    flex-direction: column;
    border: 1px solid #70DBDB		 ;
    border-radius: 5px;
    border-width: 2px;
    padding:3%;
    background: black;
    
  }
  
  .Countdown-col-element strong{
    font-size: 3rem;
    
  }
  